body{
    margin: 0;
    font-family: 'Readex Pro', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#button{
    display: flex; gap: 5%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
h1{
    padding: 2% 30%;
    
    border-radius: 100px;
    margin-bottom: 50px;
    text-align: center;
}
p{
    padding: 4% 10%;
    text-align: right;
    background-color: rgba(37, 117, 5, 0.342);
    font-size: x-large;
    border-radius: 10px;
    
}
#p{
    text-align: center;
    padding: 1% 49.3%;
    margin-bottom: 50px;
}

