.nav-name{
    margin-right: 10px;
}
h3{
    text-align: center;
    margin-bottom: 30px;
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1{
    padding: 10px 0px;
    text-align: center;
    width: 95%;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 100px;
}
.mn{
    display: block;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    text-align: end;
}
li{
    margin-top: 10px;
    margin-right: 17px;
    direction: rtl;
}